.detail {
    .grid {
        max-width: 960px;
        margin: 0 auto;
    }

    .title {
        font-weight: 700;
        line-height: 60px;
        border-bottom: 1px solid #eee;
    }
    .time {
        margin-bottom: 30px;
    }

    pre {
        background-color: #f8f8f8;
        padding: 1em;
        margin: 2em 2em;
        font-family: Menlo, Monaco, Consolas, Courier New, monospace;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        border-width: 0.3em;
        border-color: #f8f8f8;
        border-style: solid;
        text-shadow: 0 1px white;
        overflow: auto;
    }
}