.grid {
    width: 100%;
    max-width: 760px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    line-height: 60px;
    border-bottom: 1px solid #eee;
}

.time {
    margin-bottom: 30px;
}

.cover {
    display: flex;
    align-items: center;
    max-height: 400px;
    overflow: hidden;

}
.html {
    margin-bottom: 50px;
}

.html blockquote {
    margin: 2em 0;
    padding-left: 20px;
    overflow: auto;
    border-left: 4px solid #6190e8;
}

.html ul {
    list-style-type: square;
    margin: 0 0 24px 6px;
    padding-left: 16px;
}

.html code {
    font-family: Consolas, 'Courier New', monospace;
    background-color: #fff5f5;
    color: #ff502c;
    font-size: .87em;
    padding: .065em .4em;
}


.html pre {
    background-color: #f8f8f8;
    padding: 1em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: .3em;
    border-width: 0.3em;
    border-color: #f8f8f8;
    border-style: solid;
    overflow: auto;
}

.html pre code {
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
}

.commentPust {
    margin-bottom: 50px;
}

.commentPustItem {
    margin-bottom: 20px;
    font-size: 0.875em;
}

.commentPustItem textarea {
    padding: 0.75em;
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height : 5.125em;
    max-height: 15em;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: inherit;
    word-wrap: break-word;
    resize: vertical;
    background-color: #f6f6f6;
    outline: none;
    transition: all 0.25s ease;
}

.commentPustItem input {
    max-width: 100%;
    padding: 0 15px;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    resize: vertical;
    border-radius: 5px;
    background-color: #f6f6f6;
    transition: all 0.25s ease;
}
.commentPustItem button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #6190e8;
    border: 1px solid #6190e8;
    color: #fff;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.label {
    margin-left: 20px;
}

.commentHeader {
    text-align: center;
    margin-bottom: 20px;
}

.commentList 
.commentListItem {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.commentListHeader {
    color: #999;
    margin-bottom: 10px;
}
.name {
    color: #6190e8;
    margin-right: 5px;
}

.comment {
    line-height: 24px;
    margin-bottom: 10px;
}

.commentTime {
    margin-left: 5px;
}