body {
    margin: 0;
    background-color: #fff;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    color: #333;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
}
.loader {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    margin: 75px auto 0;
    box-sizing: border-box;
}

.el-row {
    margin-left: -20px;
    margin-right: -20px;
}

.el-row:before,
.el-row:after {
    content: "";
    display: table;
}

.el-row:after {
    clear: both;
}

.el-col {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.el-col-24 {
    width: 100%;
}



@media screen and (max-width: 768px) {
    .content {
        width: 512px;
        padding: 0 15px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 560px) {
    .content {
        width: 100%;
    }

    .el-col-xs-24 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .content {
        width: 672px;
    }

    .el-col-xs-12 {
        width: 50%;
    }
}

@media screen and (min-width: 1160px) {
    .content {
        width: 1024px;
    }

    .el-col-sm-8 {
        width: 33.33333%;
    }
}

.html blockquote {
    margin: 2em 0;
    padding-left: 20px;
    overflow: auto;
    border-left: 4px solid #6190e8;
}
.html blockquote ul {
   margin-bottom: 0;
}
.html blockquote p {
    margin: 0;
}

.html ul {
    list-style-type: square;
    margin: 0 0 24px 6px;
    padding-left: 16px;
}

.html code {
    font-family: Consolas, 'Courier New', monospace;
    background-color: #fff5f5;
    color: #ff502c;
    font-size: .87em;
    padding: .065em .4em;
}


.html pre {
    background-color: #f8f8f8;
    padding: 1em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: .3em;
    border-width: 0.3em;
    border-color: #f8f8f8;
    border-style: solid;
    overflow: auto;
}

.html pre code {
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
}