body {
    margin: 0;
    background-color: #fff;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
}

.content {
    margin: 0 auto;
    box-sizing: border-box;
}

.el-row {
    margin-left: -10px;
    margin-right: -10px;
}

.el-row:before,
.el-row:after {
    content: "";
    display: table;
}

.el-row:after {
    clear: both;
}

.el-col {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.el-col-24 {
    width: 100%;
}

@media screen and (max-width: 560px) {
    .content {
        width: 100%;
    }

    .el-col-xs-24 {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 512px;
    }
}

@media screen and (min-width: 768px) {
    .content {
        width: 672px;
    }

    .el-col-xs-12 {
        width: 50%;
    }
}

@media screen and (min-width: 1160px) {
    .content {
        width: 1024px;
    }

    .el-col-sm-8 {
        width: 33.33333%;
    }
}